/*CSS DOCUMENT */

img {
    width: 100%;
}

body {
    font-family: 'Antic';
}

.sushikokkulogo {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5em;
}

a:link {
    color: #000000;
}

a:visited {
    color: #BFAB9F;
}

.mainmenu a {
    list-style-type: none;
    color: #ffffff;
}


.mainmenu ul {
    padding: 0;
    background-color: #000000;
    margin-bottom: 0.5em;
}

.mainmenu li {
    display:block; 
    text-transform: uppercase;
    padding: 0.5em;
    text-align: center;
    border-style: solid;
    border-color: #ffffff;
    font-family: 'Yeseva One'
}

.slogan h4 {
    text-align: center;
    margin-top: 0;
}
.hours {
    background-color: #000000;
    color: #ffffff;
    padding: 1em;
    margin-top: 0.5em;
    font-family: 'Yeseva One';
}

.hours h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-bottom: 0.5em;
    border-bottom: 2px solid;
}

table {
    text-align: right;
    margin:auto;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid;
    border-top: 2px solid;
    font-family: 'Yeseva One'; 
}

.appetizers, .entrees, .locations {
    padding: 0.5em;
}

.salad p, .salad h4, .sides p, .sides h4, .specials p, .specials h4, .nigiri p, .nigiri h4, .bowls p, .bowls h4, .combinations p, .combinations h4, .sanluisobispo p, .sanluisobispo h4, .pasorobles p, .pasorobles h4, .pismobeach p, .pismobeach h4{
    margin: 0.5em 0em;
}

.salad h4, .sides h4, .specials h4, .bowls h4, .combinations h4, .nigiri h4, .sanluisobispo h4, .pasorobles h4, .pismobeach h4 {
    border-bottom: 1px solid;
}

.salad h3, .sides h3, .specials h3, .bowls h3, .nigiri h3, .combinations h3 {
    text-transform: uppercase; 
    font-family: 'Yeseva One';
}

.price {
    margin: 0;
    padding-bottom: 1em;
    font-weight: bold; 
}

.googlemaps {
    margin: 0;
    width: 50%;
}

.appetizers ul, .entrees ul, .sanluisobispo ul, .pasorobles ul, .pismobeach ul {
    list-style-type: none;
    padding: 0;
}

.sanluisobispo, .pasorobles, .pismobeach, footer {
    margin-left: auto; 
    margin-right:auto;
    clear: left;
}

.sanluisobispo a, .pasorobles a, .pismobeach a{
    float: left;
    padding: 0 1em 1.5em 0; 
}

.order {
    float: left; 
    padding-right: 0.5em;
    font-weight: bold;
}

footer {
    text-align: center;
    margin: auto;
    padding-top: 1em;
    font-family: 'Yeseva One';
}
